<header>
      <div class="title"><a href="/"></a></div>
</header>
<div class="wrap flc">
  <div class="main">
    <div id="dqnplus">
      <h3><%= @blog.title %></h3>
        <a name="comments"></a>
        <h4 id="comment">カテゴリ: <%= @blog.category.category %></h4>
        <div id="comment-1" style="width:0;height:0;"></div>
          <div id="comment">
            <div id="comment_text">
              <span>
                投稿者
                <span>名無しさん</span>
                <%= @blog.created_at.to_s(:datetime_jp) %>
              </span>
              <p id="vlog"><%= @blog.content %></p>
            </div>
          </div>
        </div>
        <% @comments.each do |comment| %>
          <div id="comment">
            <div id="comment_text">
              <span>
                投稿者
                <span>名無しさん</span>
                <%= comment.created_at.to_s(:datetime_jp) %>
              </span>
              <p id="vlog"><%= comment.body %></p>
            </div>
          </div>
        <% end %>
        <%= paginate @comments %>
       
        <h3>コメントを投稿する</h3>
        <%= form_for([@blog, @blog.comments.build]) do |f| %>
          <div class="field mb-2">
            <%= f.text_area :body, placeholder: '本文を入力してください',class: 'form-control' %>
          </div>
          <div class="actions">
            <%= f.submit "投稿する", class: 'btn btn-block btn-success btn-sm' %>
          </div>
        <% end %>

    <div class="tablet-sub tablet-sub-list"></div>
  </div>
  <div class="sub">
    <%= link_to "スレ一覧に戻る", blogs_path, class: "btn btn-solid" %>
    <br>
    <br>
  </div>
</div>