<!DOCTYPE html>
<html>
  <head>
    <title>BbsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
      <div class="title">
        <a href="/">
          <img src="/assets/logp.png" alt="雑談突撃 たこツボっ!">
        </a>
      </div>
  </header>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <div class="footer">
    <div class="footer-logo"><a href="/"></a></div>
    <div class="links flc"></div>
  </div>
</html>
